# This public repository is documentation-only.
*.exe
*.dll
*.pdb
*.lib
*.obj
*.zip
*.7z
*.rar
*.addon
*.addon32
*.addon64
*.fx
*.fxh
*.cpp
*.c
*.hpp
*.h
*.cs
*.xaml
*.ps1
*.py
*.sln
*.vcxproj*
*.csproj
*.msi
*.msix
*.cab
*.nupkg
*.sys
*.bin
*.ini
*.log
*.dmp
*.json
*.js
*.ts
*.tsx
*.go
*.rs
*.java
*.kt
bin/
obj/
dist/
source/
setup/
deps/
private/
